* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-height: 100vh;
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	background-color: hsl(212, 45%, 89%);
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 520px;
	padding: 1em;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;

	&__top {
		width: 100%;
		// height: 50%;
	}

	&__img {
		max-width: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	&__info {
		text-align: center;
		padding: 1em;
		color: hsl(218, 44%, 22%);
	}

	&__title {padding-bottom: 0.5em;
		font-weight: 700;
	}

	&__text {
		padding: 0.5em;
        line-height: 20px;
		color: hsl(220, 15%, 55%);
	}
}
